{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load govuk_template_base %}

{% block page_title %}{% get_service_settings as service_settings %}GOV.UK – Register as a nanny{% endblock %}

{% block head %}
  {{ block.super }}
  <link href="{% static 'stylesheets/base.css' %}" media="screen" rel="stylesheet" />
  <link href="{% static 'stylesheets/custom.css' %}" media="screen" rel="stylesheet" />
{% endblock %}

{% block cookie_message %}
<div class="global-cookie-message-content">
    <div id="global-cookie-message-selection" style="display: block">
        <h2 class="heading-medium global-cookie-message-heading">Cookies on the Register as a nanny
            website</h2>
        <p>
            We’ve put some small files called cookies on your device to make our site work.
        </p>
        <br>
        <p>
            We’d also like to use analytics cookies. These send information about how our site is used to a
            service called Google Analytics. We use this information to improve our site.
        </p>
        <br>
        <p>
            Let us know if this is OK. We’ll use a cookie to save your choice. You can
            <a href="{% url 'Cookie-Policy' %}?url={{ request.get_full_path|urlencode }}" id="cookies">read more about our cookies</a> before you choose.
        </p>
        <div>
            <button type="button" class="button" onclick="globalCookieMessageOptIn()">
                I’m ok with analytics cookies
            </button>
            <button type="button" class="button" onclick="globalCookieMessageOptOut()">
                Do not use analytics cookies
            </button>
        </div>
    </div>
    <div id="global-cookie-message-accepted-confirmation" style="display: none">
        <h2 class="heading-medium global-cookie-message-heading">Cookies on the Register as a childminder
        website</h2>
        You’ve accepted analytics cookies. You can <a href="{% url 'Cookie-Policy' %}?url={{ request.get_full_path|urlencode }}" id="cookies-accepted">change your cookie settings</a>
        at any time
        <div>
            <button type="button" class="button" onclick="globalCookieMessageOptInHideBanner()">Hide</button>
        </div>
    </div>
    <div id="global-cookie-message-rejected-confirmation" style="display: none">
        <h2 class="heading-medium global-cookie-message-heading">Cookies on the Register as a childminder
        website</h2>
        You can <a href="{% url 'Cookie-Policy' %}?url={{ request.get_full_path|urlencode }}" id="cookies-rejected">change your cookie settings</a>
        at any time
        <div>
            <button type="button" class="button" onclick="globalCookieMessageOptOutHideBanner()">Hide</button>
        </div>
    </div>
</div>
{% endblock %}

{% block header_class %}with-proposition{% endblock %}
{% block proposition_header %}
  {% get_service_settings as service_settings %}
  <div class="header-proposition no-print">
    <div class="content">
      <a href="#proposition-links" class="js-header-toggle menu" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">{% trans 'Menu' %}</a>
      <nav id="proposition-menu">
          {% block proposition %}
              {% if id and AUTHENTICATED %}
                <a href="{% url 'Task-List' %}?id={{ id }}" id="proposition-name">
                     Register as a nanny
                </a>
              {% else %}
                <a href="{% url 'Start-Page' %}" id="proposition-name">
                   Register as a nanny
                </a>
              {% endif %}
          {% endblock %}
        {% block proposition_menu %}
            <ul id="proposition-links">
               {% if id and AUTHENTICATED %}
                   <li>
                      <a href="{% url 'Help-And-Contact' %}?id={{ id }}">Help and contacts</a>
                   </li>
                   <li>
                      <a href="{% url 'Application-Saved' %}">Sign out</a>
                   </li>
               {% else %}
                   <li>
                      <a href="{% url 'Help-And-Contact' %}">Help and contacts</a>
                   </li>
               {% endif %}
            </ul>
        {% endblock %}
      </nav>
    </div>
  </div>
{% endblock %}

{% block content %}
  <main role="main" id="content" tabindex="-1">
    <div class="two-thirds">
    {% block phase_banner %}
      {% get_service_settings as service_settings %}
      {% if service_settings.phase != 'live' %}
        <div class="phase-banner">
          <p>
            <strong class="phase-tag">BETA</strong>
            {% block phase_banner_message %}{% if id %}
                    <span><a href="{% url 'Feedback' %}?id={{id}}&url={{ request.get_full_path|urlencode }}" id="feedback">Tell us what you think</a> (takes 30 seconds)</span>
                  {% else %}
                    <span><a href="{% url 'Feedback' %}?url={{ request.get_full_path|urlencode }}" id="feedback">Tell us what you think</a> (takes 30 seconds)</span>
                  {% endif %}{% endblock %}
          </p>
        </div>
      {% endif %}
    {% endblock %}

      {% block inner_content %}{% endblock %}
    </div>
  </main>
{% endblock %}

{% block licence_message %}
  <p>
    {% blocktrans trimmed with url='https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/' %}
      All content is available under the <a href="{{ url }}" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
    {% endblocktrans %}
  </p>
{% endblock %}

{% block footer_support_links %}
    <ul>
        <li><a href="https://www.gov.uk/government/publications/ofsted-privacy-notices/childcare-ofsted-privacy-notice">Privacy notice</a></li>
        <li><a href="https://www.gov.uk/guidance/accessibility-statement-for-apply-to-register-as-a-nanny ">Accessibility statement</a></li>
        <li><a href="{% url 'Cookie-Policy' %}?url={{ request.get_full_path|urlencode }}" id="cookies-page">Cookies</a></li>
    </ul>
{% endblock %}

{% block body_end %}
  <script src="{% static 'javascripts/vendor/jquery-1.11.0.min.js' %}"></script>

  {# govuk_frontend_toolkit #}
  <script src="{% static 'javascripts/vendor/polyfills/bind.js' %}"></script>
  <script src="{% static 'javascripts/govuk/shim-links-with-button-role.js' %}"></script>
  <script src="{% static 'javascripts/govuk/show-hide-content.js' %}"></script>

  {# govuk_elements #}
  <script src="{% static 'javascripts/govuk/details.polyfill.js' %}"></script>
  <script src="{% static 'javascripts/application.js' %}"></script>
{% endblock %}
