{% extends 'govuk_template.html' %}
{% block page_title %}Feedback submitted{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<div class="two-thirds">

    <h1 class="form-title heading-large">
        Feedback submitted
    </h1>
    <p>
        Thank you for providing your feedback. This helps us to improve our service and make it work as well as possible.
        <br/>
        <br/>
        We regularly monitor feedback but we are unable to respond to individual enquiries about registration. For individual enquiries about registration please contact us at <a href="mailto:enquiries@ofsted.gov.uk">enquiries@ofsted.gov.uk</a>.
    </p>
</div>

<form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
    {{form.as_div}}
    {% csrf_token %}
    <input type="submit" class="button" value="Continue" alt='Continue' id="continue">
    <input type="hidden" value="{{ previous_url }}" id="url" name="url">
</form>

{% endblock %}