{% extends 'govuk_template.html' %}
{% block page_title %}Feedback{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}
{% include "back-button.html" %}

<div class="two-thirds">
{{form.error_summary}}

    <h1 class="form-title heading-large">
        Feedback and contacts
    </h1>
    <p>
        We welcome your feedback. Please let us know what you think of our online service via the form below.
        <br/>
        <br/>
        For individual enquiries about registration please contact us at <a href="mailto:enquiries@ofsted.gov.uk">enquiries@ofsted.gov.uk</a>.
    </p>
</div>

<form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
    {{form.as_div}}
    {% csrf_token %}
    <input type="submit" class="button" value="Submit" alt='Submit' id="submit">
    <input type="hidden" value="{{ previous_url }}" id="url" name="url">
</form>

{% endblock %}