{% extends 'govuk_template.html' %}
{% load static %}
{% load govuk_template_base %}
{% block page_title %}Help and contacts{% endblock %}

{% block inner_content %}

{% include "back-button.html" %}

<h1 class="form-title heading-large">Help and contacts</h1>

<p>
    Where you can get help to become a nanny.
</p>

<h2 class="heading-medium">
    Your local council
</h2>

<p>You can get <a href="http://findyourfis.familyandchildcaretrust.org/kb5/findyourfis/home.page">free help and advice from your local council.</a></p>

<h2 class="heading-medium">
    Childcare groups and forums
</h2>

<p>You can get advice and training from professional childcare groups like <a href="https://www.pacey.org.uk">Professional Association for Childcare and Early Years (PACEY)</a>.</p>

<h2 class="heading-medium">
    Questions about your application
</h2>

<div class="panel">
    Ofsted
    <br/>
    <a href="mailto:enquiries@ofsted.gov.uk">enquiries@ofsted.gov.uk</a>
</div>

<h2 class="heading-medium">
    Help with registering online
</h2>

<p>If you do not feel confident using digital tools like computers, do ask a friend or family for help.</p>
<p>The other organisations on this page may be able to help as well. </p>
<p>You can also call the Ofsted application team: </p>

<div class="panel">
    Phone: 0300 123 1231
    <br/>
    Monday to Friday, 8am to 6pm
    <br/>
    <a href="https://www.gov.uk/call-charges">Find out about call charges</a>
</div>


{% if id and AUTHENTICATED %}
   <a href="{{ return_url }}" class="button">Return to application</a>
{% endif %}

{% endblock %}