{% extends 'govuk_template.html' %}
{% load static %}
{% load govuk_template_base %}
{% block page_title %}Register as a nanny{% endblock %}

{% block inner_content %}

<h1 class="form-title heading-large">Register as a nanny</h1>

<p><span style="font-weight: bold;">Your application:</span> Voluntary Childcare Register</p>

<p><span style="font-weight: bold;">Fee:</span> £103</p>

<p>Fill in the sections below to apply.</p>


<div class="grid-row">
    <div class="form-group task-list-align">
        <table id="your-details" style="table-layout: fixed; width: 100%">
            <tbody>

            {% for task in tasks %}
            {% if task.name == "review" and all_complete == False %}

            <tr id="reviewInactive"> {# Display grayed out review button #}
                <td class="task" style="padding-right: 10px; word-wrap: break-word;">
                                    <span>
                                        <span class="task-name grayed-out">Declaration and payment</span>
                                        <strong class="task-finished task-do-last">Do last</strong>
                                    </span>
                </td>
            </tr>

            {% elif task.hidden %}
            <!-- do nothing -->

            {% else %}

            <tr id="{{ task.name }}">
                <td class="task" style="padding-right: 10px; word-wrap: break-word;">

                    {% if task.status == 'NOT_STARTED' %}
                    <a href="{% url task.status_url %}?id={{ id }}">
                        <span class="task-name">{{ task.description }}</span>
                        <strong class="task-finished task-to-do" alt="{{ task.name }}: To do">To do</strong>
                    </a>
                    {% elif task.status == 'IN_PROGRESS' %}
                    <a href="{% url task.status_url %}?id={{ id }}">
                        <span class="task-name">{{ task.description }}</span>
                        <strong class="task-finished task-in-progress" alt="{{ task.name }}: Started">Started</strong>
                    </a>
                    {% elif task.status == 'FLAGGED' %}
                    <a href="{% url task.status_url %}?id={{ id }}">
                        <span class="task-name">{{ task.description }}</span>
                        <strong class="task-finished task-returned" alt="{{ task.name }}: Returned">Update</strong>
                    </a>
                    {% elif task.status == 'WAITING' %}
                    <a href="{% url task.status_url %}?id={{ id }}">
                        <span class="task-name">{{ task.description }}</span>
                        <strong class="task-finished task-waiting" alt="{{ task.name }}: Waiting">Waiting</strong>
                    </a>
                    {% elif task.status == 'COMPLETED' %}
                    {% if task.arc_flagged is True %}
                    <a href="{% url task.status_url %}?id={{ id }}">
                        <span class="task-name">{{ task.description }}</span>
                        <strong class="task-finished" alt="{{ task.name }}: Done">Done</strong>
                    </a>
                    {% elif task.arc_flagged is False %}
                    {% if application_status == 'FURTHER_INFORMATION' %}
                    <a href="" style="pointer-events: none;">
                        <span class="task-name grayed-out">{{ task.description }}</span>
                        <strong class="task-finished task-disabled" alt="{{ task.name }}: Done">Done</strong>
                    </a>
                    {% else %}
                    <a href="{% url task.status_url %}?id={{ id }}">
                        <span class="task-name">{{ task.description }}</span>
                        <strong class="task-finished" alt="{{ task.name }}: Done">Done</strong>
                    </a>
                    {% endif %}
                    {% else %}
                    <a href="{% url task.status_url %}?id={{ id }}">
                        <span class="task-name">{{ task.description }}</span>
                        <strong class="task-finished" alt="{{ task.name }}: Done">Done</strong>
                    </a>
                    {% endif %}
                    {% endif %}

                </td>
            </tr>

            {% endif %}
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>

<p>You can apply when everything is complete.</p>

<div class="form-group">
    <input type="hidden" value="" name="id"/>
    <a href="{% url 'Application-Saved' %}" class="button-secondary button-save-and-exit">Save and exit</a>
</div>

{% if application_status == 'DRAFTING' %}
<a href="{% url 'Cancel-Application' %}?id={{ id }}">Cancel application</a>
{% endif %}

{% endblock %}
