{% extends 'govuk_template.html' %}
{% load static %}
{% load govuk_template_base %}
{% block page_title %}Register as a nanny{% endblock %}

{% block inner_content %}

<h1 class="form-title heading-large">Register as a nanny</h1>

<p><span style="font-weight: bold;">Your application:</span> Voluntary Childcare Register</p>

<p><span style="font-weight: bold;">Fee:</span> £103</p>

<p>Fill in the sections below to apply.</p>


<div class="grid-row">
<div class="form-group task-list-align">
<table id="your-details" style="table-layout: fixed; width: 100%">
    <tbody>

    {% for task in tasks %}
        <tr id="{{ task.name }}">
            <td class="task" style="padding-right: 10px; word-wrap: break-word;">

                <!-- If application is returned and task not flagged, applicant is locked out of the task -->
                {% if application_status == 'FURTHER_INFORMATION' and task.status == 'COMPLETED' and not task.arc_flagged %}
                    <span class="task-name grayed-out">{{ task.description }}</span>

                <!-- If all tasks are not 'COMPLETED', declaration task should not be available. -->
                {% elif task.status == 'DO_LAST' %}
                    <span class="task-name grayed-out">{{ task.description }}</span>

                <!-- Otherwise, include a link to the task. -->
                {% else %}
                    <a href="{% url task.status_url %}?id={{ id }}">
                    <span class="task-name">{{ task.description }}</span>

                {% endif %}


                {% if application_status == 'DRAFTING' %}

                    {% if task.status == 'NOT_STARTED' %}
                        <strong class="task-finished task-to-do" alt="{{ task.status_url }}: To do">To do</strong>

                    {% elif task.status == 'IN_PROGRESS' %}
                        <strong class="task-finished task-in-progress" alt="{{ task.name }}: Started">Started</strong>

                    {% elif  task.status == 'COMPLETED' %}
                        <strong class="task-finished" alt="{{ task.name }}: Done">Done</strong>

                    {% else %}
                        <strong class="task-finished task-do-last">Do last</strong>

                    {% endif %}

                {% elif application_status == 'FURTHER_INFORMATION' %}

                    {% if task.status == 'NOT_STARTED' %}
                        <strong class="task-finished task-to-do" alt="{{ task.status_url }}: To do">To do</strong>

                    {% elif task.status == 'IN_PROGRESS' %}

                        <strong class="task-finished task-in-progress" alt="{{ task.name }}: Started">Started</strong>

                    {% elif  task.status == 'FLAGGED' %}
                        <strong class="task-finished task-returned" alt="{{ task.name }}: Flagged">Update</strong>

                    {% elif  task.status == 'COMPLETED' and not task.arc_flagged %}
                        <strong class="task-finished task-disabled" alt="{{ task.name }}: Done">Done</strong>

                    {% elif  task.status == 'COMPLETED' and task.arc_flagged %}
                        <strong class="task-finished" alt="{{ task.name }}: Done">Done</strong>

                    {% elif  task.status == 'COMPLETED' %}
                        <strong class="task-finished" alt="{{ task.name }}: Done">Done</strong>

                    {% else %}
                        <strong class="task-finished task-do-last">Do last</strong>

                    {% endif %}

                {% endif %}

                </a>
            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>
</div>
</div>

<p>You can apply when everything is complete.</p>

<div class="form-group">
    <input type="hidden" value="" name="id"/>
    <a href="{% url 'Application-Saved' %}" class="button-secondary button-save-and-exit">Save and exit</a>
</div>

<a href="{% url 'Cancel-Application' %}?id={{ id }}">Cancel application</a>

{% endblock %}