{% extends 'govuk_template.html' %}
{% load static %}
{% load govuk_template_base %}
{% block page_title %}Register as a nanny{% endblock %}

{% block inner_content %}

<h1 class="form-title heading-large">Register as a nanny</h1>

<p><span style="font-weight: bold;">Your application:</span> Voluntary Childcare Register</p>

<p><span style="font-weight: bold;">Fee:</span> £103</p>

<p>Fill in the sections below to apply.</p>


<div class="grid-row">
<div class="form-group">
<table id="your-details" style="table-layout: fixed; width: 100%">
    <tbody>

    {% for task in tasks %}
        <tr id="{{ task.name }}">
            <td class="task" style="padding-right: 10px; word-wrap: break-word;">
                <a href="{% url task.status_url %}?id={{ id }}">
                    <span class="task-name">{{ task.description }}</span>

                {% if task.status == 'NOT_STARTED' %}
                    <strong class="task-finished task-to-do" alt="{{ task.status_url }}: To do">To do</strong>

                {% elif task.status == 'IN_PROGRESS' %}
                    <strong class="task-finished task-in-progress" alt="{{ task.name }}: Started">Started</strong>

                {% elif  task.status == 'COMPLETED' %}
                    <strong class="task-finished" alt="{{ task.name }}: Done">Done</strong>

                 {% else %}
                    <strong class="task-finished task-do-last">Do last</strong>

                </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>
</div>
</div>

<p>You can apply when everything is complete.</p>

<div class="form-group">
    <input type="hidden" value="" name="id"/>
    <a href="{% url 'Application-Saved' %}" class="button-secondary button-save-and-exit">Save and exit</a>
</div>

{% endblock %}