{% extends 'govuk_template.html' %}
{% block page_title %}Get public liability insurance{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}

<!--<form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>-->
<form method="post" novalidate>

    <h1 class="form-title heading-large">Get public liability insurance</h1>
    <p>You will need to take out a public liability insurance policy before you start work.</p>
    {% csrf_token %}
    <input type="hidden" id="id" value="{{application_id}}" name="id"/>
    <a href="{{link_url}}" class="button">Continue</a>

</form>
<br>
{% include 'return-to-list.html' %}

{% endblock %}