{% extends 'govuk_template.html' %}
{% block page_title %}Thank you for applying{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}

<div class="govuk-box-highlight">
    <h1 class="bold-large">Thank you for applying</h1>
    <br/>
    <p>
        Your application number is
        <br>
        <br>
        <strong class="heading-medium">{{application_reference | default:"N/A"}}</strong>
    </p>
</div>

<h2 class="form-title heading-medium">
    Payment Summary
</h2>

<div class="form-group">
    <table class="check-your-answers">
        <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Application fee</td>
            <td>&#163;103.00</td>
        </tr>
        </tbody>
    </table>
</div>

<h2 class="heading-medium no-print">
    Your application details
</h2>

{% include 'print-links.html' %}

<h2 class="heading-medium">
    Send your documents
</h2>
{% if lived_abroad %}
<p>We need your:</p>
<ul class="list-bullet" style="margin-bottom: 20px; margin-left: 20px;">
    <li>certificates of good conduct</li>
    <li>DBS certificate</li>
</ul>
<p>Send your original documents (not photocopies) to:</p>
<p style="margin-left: 40px;">
    Applications team
    <br>
    Ofsted
    <br>
    Piccadilly Gate
    <br>
    Store Street
    <br>
    Manchester
    <br>
    M1 2WD
</p>
<p>There may be delays if we do not receive them right away.</p>
{% else %}
<p>We need your DBS certificate.</p>
<p>Send your original document (not a photocopy) to:</p>
<p style="margin-left: 40px;">
    Applications team
    <br>
    Ofsted
    <br>
    Piccadilly Gate
    <br>
    Store Street
    <br>
    Manchester
    <br>
    M1 2WD
</p>
<p>There may be delays if we do not receive it right away.</p>
{% endif %}

<h2 class="heading-medium">
    Contact us
</h2>
<p>Contact us if you have any questions about your application.</p>
<p class="panel">
    Ofsted
    <br>
    <a href="mailto:registrationpilot@ofsted.gov.uk">registrationpilot@ofsted.gov.uk</a>
</p>

{% endblock %}