{% extends 'govuk_template.html' %}
{% block page_title %}Check all your details{% endblock %}
{% load static %}
{% load govuk_template_base %}
{% block inner_content %}
{% include 'back-button.html' %}

<h1 class="form-title heading-large">
    Check and confirm all your details
</h1>
{% with "4" as col %}
{% for section in json %}
{% include 'summary_tables.html' %}
{% endfor %}
{% endwith %}
<form method="post">
    {% csrf_token %}
    <input type="submit" class="button" value="Confirm and continue"/>
    <input type="hidden" value="{{application_id}}" name="id"/>
</form>

{% endblock %}