{% extends 'govuk_template.html' %}
{% block page_title %}Your children's addresses{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}

<!-- Initialise error summary for page -->
<div class="two-thirds">
{{form.error_summary}}

<!-- Form -->
<form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
    <!-- Content -->
    <div class="form-group">
        <h1 class="form-title heading-large">
            Your children's addresses
        </h1>
        {{form.as_div}}
        {% csrf_token %}
        <input type="submit" class="button" value="Save and continue">
        <input type="hidden" id="id" name="id" value="{{application_id}}"/>
    </div>
</form>
</div>
<br/>
{% include 'return-to-list.html' %}

{% endblock %}