{% extends 'govuk_template.html' %}
{% block page_title %}{{page_title}}{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}
{% include "back-button.html" %}


<!-- Page title -->
<div class="two-thirds">
<h1 class="form-title heading-large">
    {{ page_title }}
</h1>

{% for table in table_list %}
<table class="check-your-answers">
    <colgroup>
        <col class="summary-column">
        <col class="summary-column">
        <col class="change-answer">
    </colgroup>

    <thread>
        <th colspan="3">
            <h2 class="heading-medium">
                {{ table.title }}
            </h2>
        </th>
    </thread>

    <tbody>
    {% for row in table.row_list %}

        {% if row.error != '' %}
            <tr>
                <td class="error-row" colspan="3">
                    <p class="error-container">
                    <i class="icon icon-import icon-ofsted-download">
                        <span class="visually-hidden">Warning</span>
                    </i>
                    <strong class="bold-small error-test">
                        {{ row.error }}
                    </strong>
                    </p>
                </td>
            </tr>
        {% endif %}

        {% if row.value != None %}
            <tr id={{row.data_name}}>
                {% if row.error != '' %}
                    <td class="summary-column error-row">
                {% else %}
                    <td class="summary-column">
                {% endif %}
                    {{ row.row_name }}
                </td>

                <td class="summary-column">
                    {{ row.value }}
                </td>
            </tr>
        {% endif %}

    {% endfor %}
    </tbody>
</table>
</div>
{% endfor %}

<form method="post">
    <input type="submit" class="button" value="Confirm and continue"/>
    <input type="hidden" value="{{application_id}}" name="id"/>
    {% csrf_token %}
</form>

{% endblock %}