{% extends 'govuk_template.html' %}
{% block page_title %}Details of your children{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}

<!-- Initialise error summary for page -->
<div class="two-thirds">
{% for form in form_list %}
    {{form.error_summary}}
{% endfor %}

<h1 class="form-title heading-large">
    Details of your children
</h1>
<p>Please give details of your children who are under 16.</p>
</div>

<form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
    {% for form in form_list %}
    <h2 class="form-title heading-medium" id="person{{form.prefix}}">
        Child {{form.prefix}}
    </h2>
    {{form.as_div}}
    {% if remove_button is True %}
        <a href="{% url 'your-children:Your-Children-Details' %}?id={{application_id}}&children={{remove_child}}&remove={{form.prefix}}"
           class="no-left-margin"><b>Remove this child</b>
        </a>
    {% endif %}
    {% endfor %}
    {% csrf_token %}
    <input type="hidden" value="{{application_id}}" name="id"/>

    <!-- button to be triggered should a user press Enter rather than click a button -->
    <input type="submit" class="button js-hidden" name="submit" value="Save and continue">

    <input type="submit" class="button-secondary button-add-another" name="add_person" value="Add another child">
    <input type="hidden" id="id" name="id" value="{{application_id}}"/>
    <input type="hidden" id="children" name="children" value="{{number_of_children}}"/>
    <input type="submit" class="button" name="submit" value="Save and continue" id="child-details-save">
</form>
<br>

{% include 'return-to-list.html' %}

{% endblock %}