{% extends 'govuk_template.html' %}
{% block page_title %}Your child's address{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}

<!-- Initialise error summary for page -->
{{form.error_summary}}
<!-- Form -->
<form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
    <!-- Content -->
        <h1 class="form-title heading-large">
            Select {{ name }}'s address
        </h1>
        <h2 class="form-title heading-small">Postcode</h2>
        <p>{{postcode}} <a
                href="{% url 'your-children:Your-Children-Postcode' %}?id={{application_id}}&child={{child}}">Change</a></p>
    <legend id='{{form.postcode.id_for_label}}-label' class="form-label-bold">{{form.postcode.label}}</legend>
    {{form.as_div}}
    {% csrf_token %}
    <a href="{% url 'your-children:Your-Children-Manual-address' %}?id={{application_id}}&child={{child}}" name="manual"
       id="manual">I
        cannot find the address in the list</a>
    <input type="submit" class="button button-submit" value="Save and continue">
    <input type="hidden" id="id" name="id" value="{{application_id}}"/>
    <input type="hidden" id="child" name="child" value="{{child}}"/>
</form>
<br>

{% include 'return-to-list.html' %}

{% endblock %}