{% extends 'govuk_template.html' %}
{% block page_title %}Your child's address{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}

<form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>

<h1 class="form-title heading-large">
    Select ((first child name))’s address
</h1>

<p>ADDRESS LOOKUP SELECTION FORM</p>

    {% csrf_token %}
    <input type="hidden" value="{{id}}" name="id"/>
    <input type="submit" class="button" value="Confirm and continue">
</form>
<br>

<a href="your-children-address-manual.html">I cannot find the address in the list</a>

<br>
<br>

{% endblock %}