{% extends 'govuk_template.html' %}
{% block page_title %}Criminal record checks from abroad{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}

<h1 class="form-title heading-large">
    Criminal record checks from abroad
</h1>

<p>You need to have criminal record checks from living abroad in the last 5 years.</p>
<p><a href="https://www.gov.uk/government/publications/criminal-records-checks-for-overseas-applicants" target="_blank">Contact the countries' embassies</a> to get certificates as proof.</p>
<p>The most common proof is a certificate of good conduct.</p>
<p>If your certificates are not in English, you must <a href="https://www.gov.uk/certifying-a-document#certifying-a-translation " target="_blank">get certified translations</a>.</p>

<a href="{{ link_url }}" class="button">Continue</a>

<br>
<br>

{% include "return-to-list.html" %}

{% endblock %}
