{% extends 'govuk_template.html' %}
{% block page_title %}Criminal record (DBS) check{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}

<h1 class="form-title heading-large">
    Criminal Record (DBS) Check
</h1>

<p>You will need to <a href="http://ofsteddbsapplication.co.uk/step-one.aspx">apply for a criminal record (DBS) check</a>.</p>
<p>This must be an enhanced check for a home-based childcare role.</p>
<p>It can take about 6 weeks to get your certificate.</p>

<p>We will accept an existing enhanced check if one of the following apply:</p>
<ul class="list list-bullet">
    <li>the certificate is dated within the last 3 months</li>
    <li>you are signed up to the DBS update service.</li>
</ul>

<a href="{{ link_url }}" class="button">Continue</a>
<br>
<br>

{% endblock %}