{% extends 'govuk_template.html' %}
{% load static %}
{% load govuk_template_base %}
{% block page_title %}Childcare training certificate{% endblock %}

{% block inner_content %}

{% include "back-button.html" %}

<h1 class="form-title heading-large">Childcare training certificate</h1>

<p>An inspector will ask to see your certificate if they inspect you.</p>

<p>You must show them your certificate.</p>

<form method="post">
    {% csrf_token %}
    {{ form.as_div }}
    <input type="submit" class="button" value="Continue" alt="continue" id="id_continue">
</form>

<br>

<a href="{% url 'Task-List' %}?id={{ id }}">Return to list</a>

{% endblock %}