{% extends 'govuk_template.html' %}
{% block page_title %}Select your home address{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}

<!-- Initialise error summary for page -->
{{form.error_summary}}
<!-- Form -->
<form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
    <!-- Content -->
        <h1 class="form-title heading-large">
            Select your home address
        </h1>
        <h2 class="form-title heading-small">Postcode</h2>
        <p>{{postcode}} <a href="{% url 'personal-details:Personal-Details-Home-Address' %}?id={{id}}">Change</a></p>
    <legend id='{{form.postcode.id_for_label}}-label' class="form-label-bold">{{form.postcode.label}}</legend>
    {{form.as_div}}
    {% csrf_token %}
    <a href="{% url 'personal-details:Personal-Details-Manual-Address' %}?id={{id}}" name="manual"
       id="manual">I
        can't find my address in the list</a>
    <input type="submit" class="button button-submit" value="Save and continue">
    <input type="hidden" id="id" name="id" value="{{id}}"/>
</form>

{% endblock %}