{% extends 'govuk_template.html' %}
{% block page_title %}Your home address{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}

<!-- Initialise error summary for page -->
{{form.error_summary}}
<!-- Form -->
<form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
    <!-- Content -->
        <h1 class="form-title heading-large">
            Your home address
        </h1>
    {% if not form.errors %}
    <div id="id_postcode-group" class="form-group-required form-group">
        <div class="text-before-button">
            <label id="id_postcode-label" class="form-label-bold" for="id_postcode">
                {{form.postcode.label}}
            </label>
            {{form.postcode}}
        </div>
        <input type="submit" class="button button-submit" value="Find address"
               name="postcode-search">
    </div>
    {% elif form.errors %}
    <div id="id_postcode-group" class="form-group-error form-group-required form-group">
        <label id="id_postcode-label" class="form-label-bold" for="id_postcode">
            {{form.postcode.label}}
        </label>
        <span class="error-message">
            {% for error in form.postcode.errors %}
                {{error}}
            {% endfor %}
        </span>
        {% if form.postcode.initial is not None %}
        <input type="text" name="postcode" class="form-control-error form-control"
               value="{{form.postcode.initial}}" required="" id="id_postcode">
        {% elif form.postcode.initial is None %}
        <div class="text-before-button">
            <input type="text" name="postcode" class="form-control-error form-control"
                   value="" required="" id="id_postcode">
            {% endif %}
        </div>
        <input type="submit" class="button button-submit" value="Find address"
               name="postcode-search">
    </div>
    {% endif %}
    {% csrf_token %}
    <a href="{% url 'personal-details:Personal-Details-Manual-Address' %}?id={{id}}"
       name="manual" id="manual">Enter address manually</a>
    <input type="hidden" id="id" name="id" value="{{id}}"/>
</form>

{% if personal_details_status == 'COMPLETED' %}
{% include 'return-to-list.html' %}
{% endif %}

{% endblock %}
