{% extends 'govuk_template.html' %}
{% block page_title %}Send new security code{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}
{% include "back-button.html" %}

<h1 class="form-title heading-large">
    Send new security code
</h1>

<p>If you did not receive the text message, you can send a new code.</p>

<form method="post">
    {% csrf_token %}
    <input type="submit" class="button" value="Send new code" alt="Send new code" id="id_send_new_code_button">
</form>


{% endblock %}