{% extends 'govuk_template.html' %}
{% block page_title %}Type of DBS check{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}

{{ form.error_summary }}

<h1 class="form-title heading-large">
    Type of DBS check
</h1>

<p>
    You did not get your DBS check through the Ofsted application website.
</p>

<p>
    We need more information about your check.
</p>

<form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
    {% csrf_token %}
    {{ form }}
    <input type="submit" name="action" class="button" value="Save and continue">
</form>

<br>

{% include "return-to-list.html" %}

{% endblock %}
