{% extends 'govuk_template.html' %}
{% block page_title %}Apply for a new DBS check{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}

{{ form.error_summary }}

<h1 class="form-title heading-large">
    Apply for new DBS check
</h1>

<p>You do not have the right type of DBS check.</p>

<p>You can finish this section after you apply for a new check using the
    <a href="http://ofsteddbsapplication.co.uk/home" target="_blank">
        Ofsted DBS application website
    </a>
    .
</p>
<p>If you live with the family you are a nanny for, the check will need to be for a <a href="https://www.gov.uk/government/publications/dbs-home-based-positions-guide/home-based-position-definition-and-guidance" target="_blank">home-based role</a>.</p>

<form method="post">
    {% csrf_token %}
    <input type="submit" class="button" value="Continue" alt="continue" id="id_continue">
</form>

<br><br>

{% include "return-to-list.html" %}

{% endblock %}
