{% extends 'govuk_template.html' %}
{% block page_title %}UK criminal record check{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}

<h1 class="form-title heading-large">
    UK criminal record (DBS) check
</h1>

<p>You need to have a Disclosure and Barring Service (DBS) check.</p>
<p>This must be an enhanced check with barred lists as well as being for a
            <a href="https://www.gov.uk/government/publications/dbs-home-based-positions-guide/home-based-position-definition-and-guidance" target="_blank">home-based childcare role</a>.</p>
<p>You might be able to <a href="https://www.gov.uk/guidance/criminal-record-checks-for-childminders-and-childcare-workers#if-you-already-have-a-dbs-certificate" target="_blank">use an existing check</a>.</p>

<p>You can apply for a new one through the <a href="http://ofsteddbsapplication.co.uk/step-one.aspx" target="_blank">Ofsted DBS application website.</a></p>

<p>It can take about 6 weeks to get a new certificate.</p>

<a href="{{ link_url }}" class="button">Continue</a>

{% endblock %}
