{% extends 'govuk_template.html' %}
{% block page_title %}DBS update{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}

{{ form.error_summary }}

<h1 class="form-title heading-large">
    DBS update
</h1>

<p>Your certificate is not dated in the last 3 months. </p>

<p>You need to be on the <a href="https://secure.crbonline.gov.uk/crsc/apply?execution=e1s1" target="_blank">DBS Update Service.</a></p>

<form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
    {% csrf_token %}
    {{ form }}
    <input type="submit" name="action" class="button" value="Save and continue">
</form>

<br>

{% include "return-to-list.html" %}

{% endblock %}
