{% extends 'govuk_template.html' %}
{% block page_title %}First aid training details{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}


{% include "back-button.html" %}

{{ form.error_summary }}


<h1 class="form-title heading-large">First aid training details</h1>

<form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
    <p>We need to check that you know how to give first aid treatments.</p>

    {% csrf_token %}
    {{ form }}

    <input type="submit" name="action" class="button" value="Save and continue">
</form>
<br>
{% include 'return-to-list.html' %}

</div>

{% endblock %}