{% extends 'govuk_template.html' %}
{% block page_title %}Sign in{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}


{% include "back-button.html" %}

{{ form.error_summary }}
<div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

      <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
 	You will not be able to submit applications between 5pm Friday 23rd April and 8am on Monday 26th April. This is due to essential maintenance.
      </h2>
      <p>
        You may still use the service during this time to complete an application but will not be able to submit or make payment for the application.
      </p>
    </div>

<h1 class="form-title heading-large">Sign in</h1>

<p>Enter your email address.</p>

<p>We will send you a link to go back to your application.</p>

<form class="form" method="post" novalidate onsubmit="submit.disabled=true; return true;" {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
    {{ form.as_div }}
    {% csrf_token %}
    <input type="submit" name="submit" class="button" value="Continue" alt='Continue'>
</form>

{% endblock %}