{% extends 'govuk_template.html' %}
{% block page_title %}Register as a nanny{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<div class="start-page-width">
<div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-xlarge">
            Register as a nanny (England)
        </h1>

        <p>Register with Ofsted as a nanny or au pair to look after children in their own home.</p>


        <h2 class="heading-medium">
            Before you start
        </h2>

        <p>You will need the following:</p>
        <ul class="list list-bullet" style="margin-left: 30px;">
            <li><a href="https://www.gov.uk/guidance/criminal-record-checks-for-childminders-and-childcare-workers">UK criminal record certificate</a></li>
            <li>first aid training for the age group you'll look after</li>
            <li>childcare training - speak to your <a href="https://www.gov.uk/find-local-council">local council</a></li>
            <li>public liability insurance</li>
        </ul>

        <p>If you've lived abroad in the last 5 years, you'll need
            <a href="https://www.gov.uk/government/publications/criminal-records-checks-for-overseas-applicants">
                certificates of good conduct</a> from those countries.</p>


        <h2 class="heading-medium">
            How long it takes
        </h2>

        <p>It should take 15 minutes to fill in this form.</p>
        <p>It usually takes up to 12 weeks to register with Ofsted.</p>


        <h2 class="heading-medium">
            How much it costs
        </h2>

        <p>It costs £103 to register with Ofsted.</p>
        <p>It costs the same to renew every year.</p>
        <p>Find out about <a href="{% url 'Costs' %}">other costs</a>.</p>


        <form action="{% url 'Your-Location' %}" method="get">
            <input type=submit class="button button-start" value="Sign in">
        </form>

    </div>

    <div class="column-one-third">
        <h2 class="heading-medium">
            Related content
        </h2>
        <p><a href="https://www.gov.uk/guidance/register-as-a-nanny-quick-guide" target="_blank">Register as a nanny: quick guide</a></p>
    </div>

</div>
</div>

{% endblock %}