{% extends 'govuk_template.html' %}
{% block page_title %}Register as a nanny{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<div class="start-page-width">
<div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-xlarge">
            Apply to register as a nanny
        </h1>

        <p>You can apply to register as a nanny, including as an au pair, with Ofsted if you want to look after other people's children in their home.</p>

        <h2 class="heading-medium">Contents</h2>
        <ol class="list list-number">
            <li><a href="#before-you-start">Before you start</a></li>
            <li><a href="#how-much-it-costs">How much it costs</a></li>
            <li><a href="#how-long-it-takes">How long the application takes</a></li>
            <li><a href="#how-to-apply">How to apply</a></li>
        </ol>

        <p>As a nanny, you can look after the children from 1 or 2 families at the same time. This will take place in one of those families’ homes.</p>
        <p>If you want to look after children from more than 2 families at the same time, you must
            <a href="https://www.gov.uk/become-childminder-nanny/register-childminder">register as a childminder.</a></p>

        <h2 class="heading-medium" id="before-you-start">
            Before you start
        </h2>

        <h2 class="heading-small">DBS check</h2>
        <p>In order to make your application, you will need an <a href="https://www.gov.uk/guidance/criminal-record-checks-for-childminders-and-childcare-workers">
            enhanced criminal record (DBS) check with barred lists</a>
            for a home-based role. You must get this type of DBS check, as having the wrong one will delay your registration.</p>

        <h2 class="heading-small">Training</h2>
        <p>You will need both first aid training and childcare training. You can speak to your
            <a href="https://www.gov.uk/find-local-council">local council</a> about these courses.
            You must have these to complete your application.</p>

        <h2 class="heading-small">Public liability insurance</h2>
        <p>You must have public liability insurance before you apply to register as a nanny, or before you start working as one.</p>
           <p>If you do not have this type of policy when you apply to register as a nanny, you can still complete your application. However, we will contact you to confirm that you have your policy in place before we approve your application.</p>

        <h2 class="heading-small">Lived abroad</h2>
        <p>If you have lived abroad in the last 5 years, you need <a href="https://www.gov.uk/government/publications/criminal-records-checks-for-overseas-applicants">
                certificates of good conduct</a>  from the embassies.</p>

        <h2 class="heading-medium" id="how-much-it-costs">How much it costs</h2>
        <p>It usually costs £103 to apply to register with Ofsted. The registration fee is not refundable.</p>
        <p>You will need to pay this registration fee each year.</p>
        <p>There are <a href="https://www.gov.uk/become-childminder-nanny/how-much-it-costs">other costs</a> you will need to consider.</p>

        <h2 class="heading-medium" id="how-long-it-takes">
            How long the application takes
        </h2>

        <p>It should take you 15 to 20 minutes to complete your application.</p>
        <p>It usually takes up to 12 weeks to register with Ofsted.</p>

        <h2 class="heading-medium" id="how-to-apply">
            How to apply
        </h2>
        <div class="grey-panel">
        <p>Check whether you should be registering as one of the following instead of as a childminder:</p>
            <p>- a nursery or other daycare<br>
                - a childminder</p>
        </div>

        <p>Registering as the wrong type of childcarer may delay when you can start work.</p>

        <form action="{% url 'Account-Selection' %}" method="get">
            <input type=submit class="button button-start" value="Register as a nanny">
        </form>
        <br>
        <p>You can only have one nanny application or registration associated with an email address.</p>

    </div>

    <div class="column-one-third">
        <h2 class="heading-medium">
            Related content
        </h2>
        <p><a href="https://www.gov.uk/guidance/register-as-a-nanny-quick-guide" target="_blank">Register as a nanny: quick guide</a></p>
    </div>

</div>
</div>

{% endblock %}