{% extends 'govuk_template.html' %}
{% block page_title %}Nanny validation page{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<div class="two-thirds">
    <h1 class="form-title heading-large">
        Nanny validation page - existing
    </h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dignissim sed enim sed vehicula. Phasellus pulvinar suscipit orci, quis maximus risus euismod eget. Duis eros turpis, egestas id massa a, semper mollis mi. Morbi a tellus id neque faucibus tincidunt eget et leo. Donec tortor ex, tincidunt sit amet pellentesque at, sagittis et risus. Nulla quis lobortis urna, sed malesuada nibh. Suspendisse at dolor lorem. Donec dignissim mauris ac libero fringilla, eget mattis ex lobortis. Cras vitae bibendum risus. Mauris ex risus, posuere facilisis suscipit sed, rhoncus sit amet libero. Vivamus varius ornare neque id iaculis. Cras eu ultricies elit, ut scelerisque tellus.
    </p>
</div>

{{ code }}

<form method="post" novalidate>
    {% csrf_token %}
    <input type="submit" class="button button-submit" name="continue-validation" value="Continue">
</form>

{% endblock %}