{% extends 'govuk_template.html' %}
{% block page_title %}Your location{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<!-- Initialise error summary for page -->
{{form.error_summary}}

<!-- Form -->
<form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
    <!-- Content -->
    <div class="form-group">
        <h1 class="form-title heading-large">
            Your location
        </h1>
        {% csrf_token %}
        {{form.as_div}}
        <input type="submit" class="button" value="Continue" alt='Continue'>
    </div>
</form>

{% endblock %}