{% extends 'govuk_template.html' %}
{% block page_title %}Post your DBS certificate{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}

<h1 class="form-title heading-large">
    Post your DBS certificate
</h1>

<p>You must post your original certificate (not a photocopy) to Ofsted after you submit your application.</p>
<p>We need it to check details of any cautions or convictions.</p>
<p>We'll then send it back to you.</p>

<a href="{{ link_url }}" class="button">Continue</a>
<br>
<br>
{% include 'return-to-list.html' %}

{% endblock %}