{% extends 'govuk_template.html' %}
{% block page_title %}First aid training{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}

<h1 class="form-title heading-large">
    First aid training
</h1>

<p>You need to go on a first aid course that:</p>

<ul class="list list-bullet">
    <li>covers the age groups you will look after</li>
    <li>is dated within the last 3 years</li>
</ul>

<p>Lots of organisations provide courses, such as the <a href="https://www.redcrossfirstaidtraining.co.uk/Courses.aspx" target="_blank">Red Cross</a> and <a href="http://www.sja.org.uk/sja/training-courses/first-aid-courses.aspx" target="_blank">St John Ambulance</a>.</p>

<p><a href="https://www.gov.uk/find-local-council" target="_blank">Ask your council</a> for details of courses in your area.</p>

<a href="{{ link_url }}" class="button">Continue</a>
<br>
<br>

{% endblock %}