{% extends 'govuk_template.html' %}
{% block page_title %}Thank you for applying{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}

<div class="govuk-box-highlight">
    <h1 class="bold-large">Thank you for applying</h1>
    <br/>
    <p>
        Your application number is
        <br>
        <br>
        <strong class="heading-medium">{{application_reference | default:"N/A"}}</strong>
    </p>
</div>

<h2 class="form-title heading-medium">
    Payment Summary
</h2>

<div class="form-group">
    <table class="check-your-answers">
        <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Application fee</td>
            <td>&#163;{{cost}}</td>
        </tr>
        </tbody>
    </table>
</div>

<h2 class="heading-medium no-print">
    Your application details
</h2>

{% include 'print-links.html' %}

<p><b>Email your criminal record certificates from abroad</b></p>

<p>You can scan the documents or take photos.</p>

<p>Make sure everything is clear and you can read everything.</p>

<p>Email the copies to <a href="mailto:enquiries@ofsted.gov.uk">enquiries@ofsted.gov.uk</a>.</p>

<p>There may be delays if we do not receive them right away.</p>

<p class="panel">
    Ofsted
    <br>
    <a href="mailto:registrationpilot@ofsted.gov.uk">registrationpilot@ofsted.gov.uk</a>
</p>

{% endblock %}