{% extends 'govuk_template.html' %}
{% block page_title %}Declaration{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}

<h1 class="form-title heading-large">
    Declaration
</h1>

<p>You must follow the <a href="https://www.gov.uk/guidance/childminders-and-childcare-providers-register-with-ofsted/registration-requirements#nannies"
                          target="_blank">Childcare Register rules</a> while you are a nanny.</p>

<a href="{{ link_url }}" class="button">Continue</a>
<br>

{% endblock %}
