{% extends 'govuk_template.html' %}
{% block page_title %}Your declaration{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}

{{ form.error_summary }}

<h1 class="form-title heading-large">
    Your declaration
</h1>

<form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>

    <h3 class="heading-small">
        I understand that I must follow the registration rules.
    </h3>
    <h3 class="heading-small">
        By continuing, I confirm that:
    </h3>
    <p>
        <ul class = "list-bullet">
            <li>the information I have given is correct</li>
            <li>I will tell Ofsted if this information changes</li>
        </ul>
    </p>
    <p>
        <img src="{% static 'icon-important-2x.png' %}" alt="Important"
                    style="height: 40px; margin-right: 10px; display: inline-block; vertical-align: middle;"/>
        <b class="bold">Your application may be refused if you:</b>
        <div class="bold">
            <ul class="list-bullet">
                <li>make a false or misleading statement</li>
                <li>withhold relevant details</li>
            </ul>
        </div>
    </p>
    <p>
        {{ fields.0 }}
    </p>
    {% csrf_token %}
    <input type="submit" name="action"  class="button" value="Continue">

</form>

<br>
<br>
{% include 'return-to-list.html' %}

{% endblock %}