<div class="indent-left no-print">
    <img src="/nanny/static/printer.png" alt="Print" class="print-icon">
    <a href="#" class="visually-hidden aria-hidden" onclick="javascript:window.print()" id="print">Print this page</a>
</div>

<!-- Print function requires javascript so only show if available -->
<script type="text/javascript">
    window.onload = function () {
        $("#print").removeClass('visually-hidden')
        $("#print").removeClass('aria-hidden')
    };
</script>

<br/>

<div class="indent-left no-print">
    <img src="/nanny/static/printer.png" alt="Print" class="print-icon">
    <a href="{% url 'declaration:Printable-Master-Summary' %}?id={{ id }}">
        Print your application
    </a>
</div>