<table class="check-your-answers">
    <colgroup>
        <col class="summary-column">
        <col class="summary-column">
        <col class="change-answer">
    </colgroup>
    {% for row in section %}
        {% if row.title %}
            <thead>
                <tr>
                    <th colspan="{{ col }}">
                        <div class="heading-medium">
                            {{row.title}}
                        </div>
                    </th>
                </tr>
            </thead>
        {% else %}
                <tr>
                    <td>
                        {% if row.name == "enhanced_check" %}
                        Is it an enhanced check with barred lists as well as being for a
                        <a href="https://www.gov.uk/government/publications/dbs-home-based-positions-guide/home-based-position-definition-and-guidance"
                           target="_blank">home-based childcare role</a>?
                        {% else %}
                        {{row.name}}
                        {% endif %}
                     </td>

                     <td>
                        {{row.value}}
                     </td>
                        <td class="change-answer">
                            {% if row.link %}
                            <a href="{{row.link}}" alt="Change {{ row.change_link_description }}">
                                Change <span class="visuallyhidden">{{ row.change_link_description }}</span>
                            </a>
                             {% endif %}
                        </td>
                </tr>
        {% endif %}
    {% endfor %}
</table>