{% extends 'govuk_template.html' %}
{% block page_title %}Your new email address{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}

<!--<div class="two-thirds">-->
    <!--{{form.error_summary}}-->
    <!--&lt;!&ndash; Form &ndash;&gt;-->
    <!--<form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>-->
        <!--&lt;!&ndash; Content &ndash;&gt;-->
        <!--<div class="form-group">-->
            <!--<h1 class="form-title heading-large">-->
                <!---->
            <!--</h1>-->
            <!--<p>We'll send you a link to confirm that you have access.</p>-->
            <!--<p>We'll also use it to contact you about your registration.</p>-->
            <!--{{form.as_div}}-->
            <!--{% csrf_token %}-->
            <!--<input type="submit" class="button" value="Continue" alt='Continue'>-->
            <!--<input type="hidden" id="id" name="id" value="{{application_id}}"/>-->
        <!--</div>-->
    <!--</form>-->
<!--</div>-->

<h1 class="form-title heading-large">
    Your new email address
</h1>

<p>We'll send you a link to confirm that you have access.</p>

<!--<p>Make sure only you can access it.</p>-->

<p>We'll also use it to contact you about your registration.</p>

<form method="post" novalidate>
    {{ form.as_div }}
    {% csrf_token %}
    <input type="submit" class="button" value="Continue" alt='Continue'>
</form>

{% endblock %}