{% extends 'govuk_template.html' %}
{% block page_title %}Check your answers: your sign in details{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}
{% include "back-button.html" %}

<h1 class="form-title heading-large">
    Check your answers: your sign in details
</h1>

<table class="check-your-answers" style="table-layout: fixed; width: 100%">
    <colgroup>
        <col class="summary-column">
        <col class="summary-column">
        <col class="change-answer">
    </colgroup>

    <!--Blank row below to get hrule atop of table.-->
    <tr>
        <td style="word-wrap: break-word" class=summary-column>
        </td>
        <td style="word-wrap: break-word" class=summary-column>
        </td>
        <td class="change-answer">
        </td>
    </tr>
    <tr>
        <td style="word-wrap: break-word" class=summary-column>
            Your email
        </td>
        <td style="word-wrap: break-word" class=summary-column>
            {{ email }}
        </td>
        <td class="change-answer">
            {% if include_change_links %}
                <a href="{% url 'Change-Email' %}?id={{ id }}" alt='Change email address'>
                    Change <span class="visuallyhidden">email address</span>
                </a>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td style="word-wrap: break-word" class=summary-column>
            Your mobile number
        </td>
        <td style="word-wrap: break-word" class=summary-column>
            {{ mobile_number }}
        </td>
        <td class="change-answer">
            {% if include_change_links %}
                <a href="{% url 'Phone-Number' %}?id={{ id }}" alt='Change mobile number'>
                    Change <span class="visuallyhidden">mobile number</span>
                </a>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td style="word-wrap: break-word" class=summary-column>
            Other phone number
        </td>
        <td style="word-wrap: break-word" class=summary-column>
            {{ add_phone_number }}
        </td>
        <td class="change-answer">
            {% if include_change_links %}
                <a href="{% url 'Phone-Number' %}?id={{ id }}" alt='Change other number'>
                    Change <span class="visuallyhidden">landline number</span>
                </a>
            {% endif %}
        </td>
    </tr>
    </tbody>
</table>

<br>

<form method="post" novalidate>
    <input type="submit" class="button" value="Confirm and continue" alt='Continue'>
    {% csrf_token %}
</form>

{% endblock %}