{% extends 'govuk_template.html' %}
{% block page_title %}GOV.UK Django Template{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<br>
<div class="form-group">
    <p>Here are some nice forms for you to look at.</p>
    <p><a href="{% url 'simple_form' %}">Simple Form</a></p>
    <p><a href="{% url 'long_form' %}">Long Form</a></p>
    <p><a href="{% url 'fieldset_form' %}">Fieldset Form</a></p>
    <p><a href="{% url 'revealing_form' %}">Revealing Form</a></p>
</div>

{% endblock %}