{% extends 'govuk_template.html' %}
{% block page_title %}Security code{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}


{{ form.error_summary }}

<h1 class="form-title heading-large">Enter security code</h1>

<p>We have sent a 5 digit security code by text to PHONE NUMBER.</p>

<p>This can take a minute or so to arrive.</p>

<p>This runs out in 24 hours.</p>

<form method="post" novalidate>
    {{ form.as_div }}
    {% csrf_token %}
    <input type="submit" class="button" value="Continue" alt='Continue'>
</form>

<br>
<a href="{% url 'Resend-Security-Code' %}">Didn't get a code?</a>
<br>
<a href="{% url 'Security-Question' %}">Don't have your phone?</a>

{% endblock %}