{% extends 'govuk_template.html' %}
{% block page_title %}
    {% if ordinal == 'First' %}
        Select childcare address
    {% else %}
       Select {{ordinal | lower}} childcare address
    {% endif %}
{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}
<!-- Initialise error summary for page -->
{{form.error_summary}}

<form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
    <!-- Content -->
    <h1 class="form-title heading-large">
        {% if addr_num == '1' %}
            Select childcare address
        {% else %}
           Select childcare address {{ addr_num }}
        {% endif %}
    </h1>
    <p>Where will you be looking after the children?</p>
    <h2 class="form-title heading-small">Postcode</h2>
    <p>{{postcode}} <a
            href="{% url 'Childcare-Address-Postcode-Entry' %}?id={{id}}&childcare_address_id={{childcare_address_id}}">Change</a></p>
    <legend id='{{form.postcode.id_for_label}}-label' class="form-label-bold">{{form.postcode.label}}</legend>
    {{form.as_div}}
    {% csrf_token %}
    <a href="{% url 'Childcare-Address-Manual-Entry' %}?id={{id}}&childcare_address_id={{childcare_address_id}}" name="manual"
       id="manual">I can't find my address in the list</a>
    <input type="submit" class="button button-submit" value="Save and continue">
    <input type="hidden" id="id" name="id" value="{{application_id}}"/>
</form>
<br>

{% include 'return-to-list.html' %}

{% endblock %}