{% extends 'govuk_template.html' %}
{% block page_title %}Enter childcare address{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}

<!-- Initialise error summary for page -->
{{form.error_summary}}

<!-- Form -->
<form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
    <!-- Content -->
    <h1 class="form-title heading-large">
        {% if addr_num == '1' or ordinal == 'First' %}
            Childcare address
        {% else %}
            Childcare address {{ addr_num }}
        {% endif %}
    </h1>
    {% if ordinal == 'First' %}
    <p>Where will you be looking after the children?</p>
    {% else %}
    <p>Please give details of the {{ ordinal | lower }} address.</p>
    {% endif %}

    {{form.as_div}}
    {% csrf_token %}
    <a href="{% url 'Childcare-Address-Postcode-Entry' %}?id={{id}}&childcare_address_id={{childcare_address_id}}" name="manual"
       id="manual">Use postcode search</a>
    <input type="submit" class="button" value="Save and continue">
    <input type="hidden" id="id" name="id" value="{{application_id}}"/>
</form>
<br>

{% include 'return-to-list.html' %}

{% endblock %}