{% extends 'govuk_template.html' %}
{% block page_title %}Childcare address details{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}

{% include 'standard-error-summary.html' %}

<!--<form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>-->
<br>
<form method="post" novalidate>

    <h1 class="form-title heading-large">Childcare address details</h1>
    {% for address in childcare_addresses %}
    <p>
        <label class="form-label-bold">
            Address {{ address.0 }}
        </label>
        {{ address.1.address }}
        <br>
        <a href="{% url 'Childcare-Address-Details' %}?id={{id}}&childcare-address-id={{ address.1.childcare_address_id }}" class="button-remove">Remove this address</a>
        <br>
    </p>
    {% endfor %}

    {% csrf_token %}
    <input type="hidden" id="id" value="{{id}}" name="id"/>
    <input type="submit" class="button button-secondary" value="Add another address" name="add_another" alt='Add another'>
    <input type="submit" class="button" value="Save and continue" alt='Continue'>

</form>
<br>
{% include 'return-to-list.html' %}

{% endblock %}